<%= form_for(@staff, url: staffs_path) do |f|%>

  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :fname, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lname, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :contact %><br />
    <%= f.number_field :contact, maxlength: 10 %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :is_female, [['Gender', nil],['Male', false],['Female', true]] %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
