<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>First Name</td>
        <td><%= @staff.fname %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= @staff.lname %></td>
      </tr>
      <tr>
        <td>Contact</td>
        <td><%= @staff.contact %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @staff.email %></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <% if @staff.is_female%>
            Female
          <% else %>
            Male
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @staff.address %></td>
      </tr>
    </table>
    <%= link_to 'Home', root_path%>
  </body>
</html>
