Student details
<br><br>
<table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Contact</td>
    <td>Email</td>
    <td>Gender</td>
    <td>Address</td>
  </tr>
  <% @students.each do |s| %>
    <tr>
      <td><%= s.fname %></td>
      <td><%= s.lname %></td>
      <td><%= s.contact %></td>
      <td><%= s.email %></td>
      <td>
        <% if s.is_female %>
          Female
        <% else %>
          Male
        <% end %>
      </td>
      <td><%= s.address %></td>
    </tr>
  <% end %>
</table>
